
body{
    font-family: Arial, sans-serif;
    
}

nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../images/icons/man.png) 90% 100%/auto 85% no-repeat, url(../images/icons/bg.jpg); 
}
.logo{
    color:#fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 400px;
    float:left;
    -webkit-animation: coming 2s ease;
    -o-animation: coming 2s ease;
    animation:coming 2s ease;
}

main{
    width: 100%;
    height: 100%;
}

.menu{
    float: left;
    padding-left: 432px;
}

.menu li{
    float: left;
    line-height:  60px;
    color: white;
    margin-left:  40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: top_menu 0.4s ease forwards;
    -o-animation: top_menu 0.4s ease forwards;
    animation: top_menu 0.4s ease forwards;
    opacity: 0;
}

.title_container{
    float: left;
    margin: 432px 0px 0px 404px;
    color:#2c384a;
    text-align: center; 
    opacity: 0;
    -webkit-animation: title_move 1s ease forwards;
    -o-animation: title_move 1s ease forwards;
    animation: title_move 1s ease forwards;
    -webkit-animation-delay:2.4s;
    -o-animation-delay:2.4s;
    animation-delay:2.4s;
    
}

.title_container h1{
    font-size: 60px;
    font-weight: bold;
}

.title_container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title_container input {
    margin-top: 58px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px; 
    padding:  0px 16px;
    margin: 50px 14px 0px 14px;
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
    
}

.title_container input:active{
    transform: scale(1.1);
}

@keyframes coming{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

@keyframes top_menu{
    from{ 
        opacity:0;
        margin-top: -80px;
        
    }
    to{
        opacity:1;
        margin-top: 0px;
    }
}

@keyframes title_move{
    from{ 
        opacity:0;
        margin-left: -500px;
        
    }
    to{
        opacity:1;
        margin-left: 432px;
    }
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}

.menu li:nth-child(3){
    animation-delay: 0.8s;
}

.menu li:nth-child(4){
    animation-delay: 1.2s;
}

.menu li:nth-child(5){
    animation-delay: 1.6s;
}

.menu li:nth-child(6){
    animation-delay: 2.0s;
}


.menu li a{
    transition: all 0.1s;
    color:white;
    transform: scale(1);
    display: inline-block;
}

.menu li a:visited{
    color:white
    
}

.menu li a:hover{
    color:#e88604;
    
}

.menu li a:active{
    transform: scale(1.1); 
}



.for_me  {
    width: 100%;
    width: 16px;
    height: 730px;
    background: url(../images/icons/fon.jpg); 
}

.for_me h1{   
    width: 250px;
    font-size: 30px;
    font-weight: bold;
    color: #263244;
    text-transform: uppercase;
    margin: 107px 894px 0px 898px;
    
}

.graf{
    margin-top: 40px;
    width: 72px;
    height: 4px;
    margin: 40px 928px 0px  926px;
    
}

.fig {
    margin: 61px 0px 0px 860px;
}


.for_me p{
    width: 733px;
    margin: 28px 0px 0px 593px;
    text-align: left;
    color: #6d7682;
}


.for_me input {
    margin-top: 58px;
    width: 140px;
    height: 38px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px; 
    padding:  0px 16px;
    margin: 38px 890px 0px 877px;
    background-image: url(../images/icons/download.png);
    background-repeat:no-repeat;
    background-position: 4px 10px;
}



.skill{
    width: 100%;
    height: 523px;
    background: url(../images/icons/fon2.jpg); 
    background-position: top;
    center/cover no-repeat;
    
}

.my_skill{
    width: 1094px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 96px;
}

.my_skill h1{
    text-align: center;
    width: 250px;
    font-size: 33px;
    font-weight: bold;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.my_skill hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 100px;
}
    

.skills{
    float: left;
    width: 200px;
    text-align: center;
    margin: 0 36px;
}

.skills img{
    
    margin-bottom: 40px;
    height: 40px;
}

.skills h4{
    font-size: 18px;
    color: #e68505;
    margin-bottom: 20px;
}

skills p{
    font-size: 16px;
}

.clear{
    clear:both;
}


.portfolio_kayses{
    width: 100%;
    background: url(../images/icons/sloy.jpg); 
    height: 250px;
    height: 592px;
}
.portfolio{
    padding-top: 110px;
    padding-bottom: 128px;
}

.portfolio_container{
    width: 1170px;
    margin: 0 auto;
    
}
.portfolio_container h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    
}

.portfolio_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 40px;
}

.portfolio__kayses{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}

.portfolio_container img{
    width: 100%;
    margin-bottom: 40px;
}

.description_left{
    width: 200px;
    float: left;
    margin-right: 82px;
}
.description_left h3{
    font-size: 25px;
    
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
}

.description_left a{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}

.calculator{
    padding-bottom: 84px;
}
.calculator_container{
    width: 1080px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    margin: 0 auto;
    padding-top: 74px;
}

.calculator_container h2{
     text-align: center;
    width: 358px;
    font-size: 43px;
    margin: 0px auto 50px;
    
}
.calculator_inner{
    width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator_inner h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator_inner select{
    margin-bottom: 44px;
}

.calculator_inner hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
}

.mySelect{
    display: block;
    width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../images/icons/select.png) 98% 54%/auto no-repeat, #eee;
}

.days, .price{
    margin-bottom: 18px;
    font-size: 21px;
    
}

.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.statistic{
    background: url(../images/icons/fon3.jpg) center/cover no-repeat;
}


.statistic_container{
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.statistic_container h2{
      text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.statistic_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 90px;
}


.statistic_item{
    display: inline-block;
    width: 213px;
    text-align: center;
}
.statistic_item img{
    height: 54px;
}
.statistic_item h3{
    font-size: 37px;
    font-weight: 800;
    margin: 34px 0;
}

.statistic_item p{
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.margin-right{
    margin-right: 53px;
}

.review{
     width: 100%;
    background: url(../images/icons/fon6.jpg); 
    height: 637px;
}

.review h1{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 100px 685px 0px 895px;
    
}

.review p{
    width: 695px;
    text-align:center;
    color: #243042;
    line-height: 1.5;
    margin: 38px 616px 0px 619px;
}

.otziv {
    margin-top: 40px;
    margin: 35px 925px 0px 925px;
}

.image
{
    margin: 58px 910px 95px 910px;
}

.circle 
{
    width: 100%
    display: inline-block;
    float: left;
    margin: 55px 930px 0 930px;
   
}

.contacts{
    background: url(../images/icons/fon5.jpg) center/cover no-repeat;
    color: white;
}

.contacts_container{
    width: 734px;
    margin: 0 auto;
    padding-bottom: 68px;
}

.contacts_container h2{
    text-align: center;
    width: 390px;
    font-size: 33px;
    margin: 0px auto 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding-top: 100px;
}

.contacts_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 32px;
}

.contacts_subscription{
    text-align: center;
    font-size: 16px;
    margin-bottom: 48px;
}

.contacts_data_item{
    float: left;
    width: 154px;
    text-align: center;
    margin: 0 45px;
}

.contacts_data_item img{
    height: 24px;
    margin-bottom: 16px;
    
}

.contacts_data_item p{
    font-size: 16px;
}

.contacts_container h3{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 46px;
    font-size: 21px;
    text-transform: uppercase;
}

.contacts_inputs input{
    display: block;
    width: 352px;
    float: left;
    height: 34px;
    padding-left: 14px;
    margin-bottom: 14px;
    background: rgba(210, 214, 220, 0.93);
    font-size: 16px;
}

.contacts_inputs .secondInput{
    float: right;
}

.contacts_container textarea{
    display: block;
    width: 100%;
    resize: none;
    padding-top: 10px;
    padding-left: 15px;
    background: rgba(220, 224, 230, 0.93);
    font-size: 16px;
    margin-bottom: 30px;
}

.contacts_container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background: none;
    color: white;
    border: 2px solid white;
    height: 46px;
    width: 124px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 76px;
}

.contacts_social{
    width: 422px;
    margin: 0 auto;
    
}

.contacts_social a{
    display: block;
    float: left;
    margin: 0 20px;
}
.contacts_social img{
    height: 30px;
}


    
.mapa{
    width: 100%;
    height: 356px;
}


.footer{
    width: 100%;
    height: 95px;
    background: #344051;
    color:#fff;
    font-size: 15px;
    line-height: 60px;
    padding-left: 828px;
    float:left;
    
}


    




